# dependencies
node_modules/
.pnp
.pnp.*

# next.js
.next/
out/
build/
dist/

# misc
*.tsbuildinfo
next-env.d.ts
.DS_Store
*.log

# local env
.env*.local

# wrangler leftovers from prior Astro-on-CF tinkering
.wrangler/
